<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
  </head>
  <body>
    <h1>CourseFinder</h1>
    <nav>
      <ul>
      {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/search'>Course Search</a></li>
      {% else %}
        <li><a href='/login'>Login</a></li>
        <li><a href='/signup'>Sign up</a></li>
      {% endif %}
        <li><a href = '/finder'>Home</a></li>
      </ul>
    </nav>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
