{% extends "finder/base.html" %}

{% block title %}CourseFinder{% endblock %}
{% block content %}
<div class="courseInfoBox">
{% if user.is_authenticated %}
	<div style="font-size:25px;"><b>Name: {{course.name}}</b></div>
	<p>Code: {{course.faculty}}-{{course.department}}-{{course.course}}</p>
	<p>Description: {{course.desc}}</p>
	<p>Number of Reviews: {{course.review_amt}}</p>
	<p>Average Rating: {{course.review_avg}}</p>
  {% if form %}
  <form action="/courseinfo/{{course.faculty}}-{{course.department}}-{{course.course}}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Rate course">
  </form>
  {% endif %}
  <br>
  <div style="font-size:19px;"><b>Times previously offered:</b></div>
  <ul style="margin-top:5px">
  {% for time in course.coursetime_set.all %}
    <li>
      {{time.semesters}} {{time.dates}} {{time.start_time}}-{{time.end_time}}
    </li>
  {% endfor %}
  </ul>
  <div style="font-size:19px;"><b>Professors who have previously taught:</b></div>
  <ul style="margin-top:5px">
  {% for professor in course.professor_set.all %}
    <li>
      {{professor.name}}
    </li>
  {% endfor %}
  </ul>
  <br>
  {% if saved_flag %}
    <a href="/savecourse/{{course.faculty}}-{{course.department}}-{{course.course}}">Save Course</a>  
  {% endif %}
{% else %}
	<p>Please <a href="/login">login</a> to view course info.</p>
{% endif %}
</div>
{% endblock %}
