{% extends "finder/base.html" %}

{% block title %}CourseFinder{% endblock %}
{% block content %}
<div class="degreePathMenu">
<div style="font-size:27px"><b>Degree Paths</b></div>
Use the courses listed on this page to determine what is necessary to complete your degree.<br><br>
<div style="font-size:20px"><b>Bachelor of Computer Science (General)</b></div>
Degree Requirements:<br>
Total courses: thirty<br>
(a) 03-60-100, 03-60-140, 03-60-141, 03-60-212, 03-60-254, 03-60-256, 03-60-265, 03-60-266, 03-60-315, 03-60-322, 03-60-330, 03-60-334 (or 03-60-367), plus two additional Computer Science courses;<br>
(b) 03-62-120, and 03-62-205;<br>
(c) one course from Arts/Languages, and one from Social Sciences;<br>
(d) eleven other courses from any area of study, including Computer Science<br>
<br>
RECOMMENDED COURSE SEQUENCE<br>
First Year: ten courses, including 03-60-100, 03-60-140, 03-60-141, 03-62-120<br>
Second Year: ten courses, including 03-60-212, 03-60-254, 03-60-256, 03-60-265, 03-60-266, and 03-62-205<br>
Third Year: ten courses, including 03-60-315, 03-60-322, 03-60-330, and 03-60-334 (or 03-60-367)<br>
</div>
{% endblock %}
