{% extends "finder/base.html" %}

{% block title %}CourseFinder{% endblock %}
{% block content %}
<script type="text/javascript">
  function delete_user() {
    if (confirm("Do you really want to delete your account?")) {
      window.location.href = "/finder/delete_user";
    }
  }
</script>

<div class="profileBox">
<center>
<div style="font-size:25px;"><b>Profile</b></div>
{% if not user.is_authenticated %}
	Please <a href="/login">login</a> to view your profile
</center>
{% else %}
Welcome to your profile, {{user.username}}!<br>
<a href="/profile/paths">View Saved Courses</a>
</center>
</div>
<br>
<div class="profileBox">
<center>
Want to delete your account? Note: This is <b>permanant</b>.<br>
<a href="#" onclick="delete_user()">Delete Account</a>
</center>
</div>
{% endif %}

{% endblock %}
