{% extends "finder/base.html" %}

{% block title %}CourseFinder{% endblock %}
{% block content %}
<div class="profileBox">
<center>
<div style="font-size:25px;"><b>Profile</b></div>
{% if not user.is_authenticated %}
	Please <a href="/login">login</a> to view your profile
{% else %}
	<p>Welcome to your profile {{user.username}}</p>
	<p><a href="/profile/paths">View your saved courses</a></p>
  <p><a href="/finder/delete_user">Delete your account</a></p>
<center>
</div>
{% endif %}

{% endblock %}
